# Required metadata
sonar.projectKey=frontend-backoffice
sonar.projectName=ArtFolio-Frontend-Backoffice
sonar.projectVersion=1.0

# Path to the source code
sonar.sources=.

# Optional: Set the encoding of the source code
sonar.sourceEncoding=UTF-8

# SonarQube server URL
sonar.host.url=http://localhost:9000

# Authentication (only if login and password are required)
sonar.login=
sonar.password=
